// Global Foundation Settings
@import "settings";
@import "compass/css3";

// Comment out this import if you are customizing you imports below

@import "foundation";

body {

	background-image : radial-gradient(#fff, #ddd 1200px);

}


.wrapper {
	
	margin-top: 20px;


}

.row .row {
	
	margin-bottom: 10px

}

.panel {
	
	@include box-shadow(2px 2px 8px rgba(0,0,0,0.3));

}

// Logo

.logo h1 {
	
	margin: 0; 

	font-weight: 400;

}

.logo h4 {

	margin-top: -10px;

	font-style: italic;

	margin-left: 20px;

	font-weight: 200;

}


// MODULE User Profile Panel

.userprofile-text {
	
	font-size : .85em;

}




// MODULE InputPanel

.rules span {
	
	border-bottom: 2px solid $primary-color;

	width: 100%;

	//background: white; 

	display: block;

	padding-top: 20px;

	padding-bottom: 5px; 

	font-size: 2em; 

	text-align: center;

	margin-bottom: 20px

}

// MODULE SetPanel

.circle-text {
	

	font-size: 1.8em; 

	font-weight: 800;

	padding: 10px 0; 

	text-align: center;

	width: 100%;

	background: white;

	color: $primary-color;

	border-radius: 5px;

	border: 2px dotted;

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.1));

}

// MODULE SetMessages

#messagePanel {
	
	margin-top: 10px

}

.message {
	
	font-size : 1.5em ;

	margin: 0

}

// MODULE AnwersSet

.squares {
	
	border : 1px solid desaturate(lighten($primary-color , 30%) , 20%);

	@include border-radius(5px); 

	font-size: 1.5em ; 

	margin-bottom: 3px;

	@include box-sizing(border-box);

	padding: 5px 0 ;

	border-left-width: 0;

	&:first-child {

		border-left-width: 1px;

	};

}

.cpanel.button {
	
	width: 100%;

	@include border-radius(5px);

}

.time {
	
	font-size: 1.2em;

	border-bottom: 1px solid $primary-color;

	font-weight: bold;

	text-align: right;


}

.solved {
	
	.solved {

		display: block;

	}

	.unsolved {

		display: none; 

	}

}

.unsolved {
	
	.solved {

		display: none;

	}

	.unsolved {

		display: block; 

	}

}

/// MODULE User Panel

.panel.current_user {
	
	background: rgb(246, 248, 223);

}


