// Global Foundation Settings
@import "settings";
@import "compass/css3";

// Comment out this import if you are customizing you imports below

@import "foundation";



html {

	height: 100%;
}

body {

	min-height: 100%;

	@include background-image(radial-gradient(#fff, lighten($primary-color , 30%) 1700px)) ;
	//background: white;

}

header {

	@include background-image(linear-gradient(top , $primary-color , saturate(lighten($primary-color , 20%) , 10%))); 

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.5));

	color: white;

}


.wrapper {
	
	margin-top: 20px;


}

.row .row {
	
	margin-bottom: 10px

}

.panel {
	
	@include box-shadow(2px 2px 8px rgba(0,0,0,0.3));

	@include background-image(linear-gradient(top , saturate(lighten($primary-color , 52%) , 10%) , white ));  

}

// Logo

.logo h1 {
	
	margin: 0; 

	color: white;

	font-size: 2.4em;

	font-weight: 400;

}

.logo h4 {

	color: #ddd;

	margin-top: -10px;

	font-style: italic;

	margin-left: 20px;

	font-size: 1.5em;

	margin-bottom: -5px;

	font-weight: 200;

}


// MODULE User Profile Panel

.userprofile {

	margin-top: 20px;

}

.userprofile-text {
	
	font-size : .85em;

	font-weight: 400;

}

.userprofile-text a {

	color: #eee;

	font-weight: 400;

}




// MODULE InputPanel

.rules span {
	
	border-bottom: 2px solid $primary-color;

	width: 100%;

	//background: white; 

	display: block;

	padding-top: 20px;

	padding-bottom: 5px; 

	font-size: 2em; 

	text-align: center;

	margin-bottom: 20px

}

// MODULE SetPanel

.circle-text {
	

	font-size: 1.8em; 

	font-weight: 800;

	padding: 10px 0; 

	text-align: center;

	width: 100%;

	background: white;

	color: $primary-color;

	border-radius: 5px;

	border: 2px dotted;

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.1));

}

// MODULE SetMessages

#messagePanel {
	
	margin-top: 10px

}

.message {
	
	font-size : 1.5em ;

	margin: 0

}

// MODULE AnwersSet

.squares {
	
	border : 1px dotted $primary-color;

	@include border-radius(5px); 

	font-size: 1.5em ; 

	margin-bottom: 3px;

	@include box-sizing(border-box);

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.1)); 

	padding: 5px 0 ;

	border-left-width: 0;


	&:first-child {

		border-left-width: 1px;

	};

}

.cpanel.button {
	
	width: 100%;

	@include border-radius(5px);


	@include box-shadow(1px 1px 3px rgba(0,0,0,0.3)); 

}

.time {
	
	font-size: 1.2em;

	border-bottom: 1px dotted $primary-color;

	font-weight: bold;

	text-align: right;


}

.solved {
	
	.solved {

		display: block;

	}

	.unsolved {

		display: none; 

	}

}

.unsolved {
	
	.solved {

		display: none;

	}

	.unsolved {

		display: block; 

	}

}

/// MODULE User Panel

.panel.current_user {
	
	background: rgb(246, 248, 223);

}


