// Global Foundation Settings
@import "settings";
@import "compass/css3";

// Comment out this import if you are customizing you imports below

@import "foundation";

@keyframes myfirst
	{
		from {transform: rotateX(0);}

		to {transform: rotateX(360);}
	}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	from {-webkit-transform: rotateY(180deg);  opacity:0}

	to {-webkit-transform: rotateY(360deg); opacity: 1}
}



html {

	height: 100%;
}

body {

	min-height: 100%;

	@include background-image(radial-gradient(#fff, lighten($primary-color , 30%) 1700px)) ;
	//background: white;

}

header {

	@include background-image(linear-gradient(top , $primary-color , saturate(darken($primary-color , 10%) , 0%))); 

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.5));

	color: white;

}


.wrapper {
	
	margin-top: 20px;


}

.row .row {
	
	margin-bottom: 10px

}

.panel {
	
	@include box-shadow(2px 2px 8px rgba(0,0,0,0.3));

	@include background-image(linear-gradient(top , saturate(lighten($primary-color , 52%) , 10%) , white ));  

}

.button {

	@include border-radius(5px);

}

// Logo

.logo h1 {
	
	margin: 0; 

	color: white;

	font-size: 2.4em;

	font-weight: 400;

}

.logo h4 {

	color: $secondary-color;

	margin-top: -10px;

	font-style: italic;

	margin-left: 20px;

	font-size: 1.5em;

	margin-bottom: -5px;

	font-weight: 200;

}


// MODULE User Profile Panel

.userprofile {

	margin-top: 20px;

}

.userprofile-text {
	
	font-size : .85em;

	font-weight: 400;

}

.userprofile-text a {

	color: $secondary-color;

	font-weight: 400;

}




// MODULE InputPanel

.rules span {
	
	border-bottom: 2px solid $primary-color;

	width: 100%;

	//color: $secondary-color;

	font-weight: 800;

	//background: white; 

	display: block;

	padding-top: 20px;

	padding-bottom: 5px; 

	font-size: 2em; 

	text-align: center;

	margin-bottom: 20px; 

	@include text-shadow(1px 1px 5px rgba(0,0,0,0.3));

}

// MODULE SetPanel

.circle-text {
	

	font-size: 1.8em; 

	font-weight: 800;

	padding: 10px 0; 

	text-align: center;

	width: 100%;

	background: white;

	color: $primary-color;

	border-radius: 5px;

	border: 2px dotted;

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.1));

}

// MODULE SetMessages

#messagePanel {
	
	margin-top: 10px

}

.message {
	
	font-size : 1.5em ;

	margin: 0

}

// MODULE AnwersSet

.squares {

	margin-bottom: 3px;

	padding: 5px 0 ;
	
	border : 1px dotted $primary-color;

	border-left-width: 0;

	@include border-radius(5px); 

	font-size: 1.5em ; 	

	@include box-sizing(border-box);

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.1)); 

	&:first-child {

		border-left-width: 1px;

	};

}


.solved-answer {

	@include background-image(linear-gradient(top , $primary-color , saturate(lighten($primary-color , 10%) , 0%))); 

	color: $secondary-color;

	font-weight: 800;

	@include text-shadow(1px 1px 3px rgba(0,0,0,0.3));

	border-color: #19191A;

	-webkit-animation-name: myfirst ; /* Safari and Chrome */

	animation-name: myfirst;

	-webkit-animation-duration: .5s;

	animation-duration: .5s;

    -webkit-animation-timing-function: linear;

    animation-timing-function: linear;

	-webkit-transform-style: preserve-3d;

	transform-style: preserve-3d;

	-webkit-perspective: 1200px;

	perpspective: 1200px;

	-webkit-animation-fill-mode: forwards;

	animation-fill-mode: forwards;



}



.cpanel {
	
	width: 100%;

	@include box-shadow(1px 1px 3px rgba(0,0,0,0.3)); 

}

.time {
	
	font-size: 1.2em;

	border-bottom: 1px dotted $primary-color;

	font-weight: bold;

	text-align: right;


}

.solved {
	
	.solved {

		display: block;

	}

	.unsolved {

		display: none; 

	}

}

.unsolved {
	
	.solved {

		display: none;

	}

	.unsolved {

		display: block; 

	}

}

/// MODULE User Panel

.panel.current_user {
	
	background: rgb(246, 248, 223);

}

/// Modals 

.reveal-modal {

	

}


