<!DOCTYPE HTML>

<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title>Text Twist</title>
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>

  <body>

    <header >

        <div class='row'>

          <div class='logo columns large-4'>

            <div class='row'>

              <h1>TextTwist</h1>

              <h4>MultiPlayer Edition</h4>

            </div>

          </div>


      </div>

    </header>

    <div class='wrapper ' id='app'>

    	<div class='row'>

	    	<div class='panel columns large-6 push-3'>

	    		<form method="post" action="/login" name='username' >

	        		<p>Make up some random username to get started</p>

	        		<input type='text' name='username' placeholder=". . . Some Username" />

	        		<input type='submit' class='button accept' value='Lets Go!' />

	        	</form>

	      </div>

      </div>

    </div>


    <!-- scripts-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>

    <script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>


  

   












 


  </body>
</html>