<!DOCTYPE HTML>

<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title>Text Twist</title>
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>

  <body>



    <div class='wrapper ' id='app'>

    	<div class='row'>

	    	<div class='panel columns large-6 push-3'>

	    		<form method="post" action="/login" name='username' >
	      
	        		<h1 class='solved'>TextTwist</h1>

	        		<p>Enter a username to get started</p>

	        		<input type='text' name='username' />

	        		<input type='submit' class='button accept' value='Lets Go' />

	        	</form>

	      </div>

      </div>

    </div>


    <!-- scripts-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>

    <script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>


  

   












 


  </body>
</html>