// Global Foundation Settings
@import "settings";
@import "compass/css3";

// Comment out this import if you are customizing you imports below
@import "foundation";

body {
	
	background: #eee;

}

.wrapper {
	

	margin-top: 20px;


}

.row .row {
	
	margin-bottom: 10px

}


// MODULE InputPanel

.rules span {
	
	border-bottom: 2px solid #333;

	width: 100%;

	//background: white; 

	display: block;

	padding-top: 20px;

	padding-bottom: 5px; 

	font-size: 2em; 

	text-align: center;

	margin-bottom: 20px

}

// MODULE SetPanel

.circle-text {
	

	font-size: 2em; 

	background: #666; 

	color: white;

	padding: 22px 20px; 

	text-align: center;

	width: 100%;

}

// MODULE SetMessages

#messagePanel {
	
	margin-top: 10px

}

.message {
	
	font-size : 1.5em ;

	margin: 0

}

// MODULE AnwersSet

.squares {
	
	border : 1px solid #ccc; 

	font-size: 1.5em ; 

	margin-bottom: 3px;

	padding: 5px 0 ;

}

.cpanel.button {
	
	width: 100%;

}

.time {
	
	font-size: 1.2em;

	border-bottom: 1px solid #ccc;

	font-weight: bold;

	text-align: right;


}

.solved {
	
	.solved {

		display: block;

	}

	.unsolved {

		display: none; 

	}

}

.unsolved {
	
	.solved {

		display: none;

	}

	.unsolved {

		display: block; 

	}

}


